<section class="home">
  <h1>Bienvenue sur Safe and Sound !</h1>

  <h2>Ici, vous pouvez ranger et répertorier tous les albums qui vous plaisent et dont vous souhaitez garder une trace !</h2>

  <h3>Vous pouvez créer un &nbsp;<%= link_to 'nouvel album', new_albuminfo_path %> &nbsp;ou accéder à la &nbsp;<%= link_to 'liste des albums', albuminfos_path %> &nbsp; !</h3>
</section>
